/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  text-align: center;
  background-color: rgb(37, 206, 197);
}
.App{
  color: rgb(196, 27, 91);
  font-size: 50px;
  font-weight: bold;
  padding-top: 150px;
}
input{
  padding: 10px 19px;
  outline: none;
  box-shadow: 1px 1px 3px rgb(196, 27, 91);
  border: none;
}
button{
  padding: 10px;
  background-color: rgb(196, 27, 91);
  color: white;
  font-weight: bold;
  border: none;
}
ul{
  list-style: none;
  color: white;
  font-size: 30px;
}
li{
  margin-bottom: 30px;
}
ul>li>button{
  font-size: 12px;
  margin-left: 20px;
  padding: 3px;
}